body {
    margin: 0;
    padding: 0;
    font-family: "Airbnb Cereal App", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

.content {
    margin-left: auto;
    margin-right: auto;

    max-width: 1024px;
    width: 100vw;
}